rmcs_executor:
  ros__parameters:
    update_rate: 1000.0
    components:
      - rmcs_core::hardware::DeviceExample -> cboard_example
      - rmcs_core::example::RemoteControllerExample -> remote_control_message
      - rmcs_core::controller::pid::PidController -> left_m2006_velocity_controller
      - rmcs_core::controller::pid::PidController -> right_m2006_velocity_controller


cboard_example:
  ros__parameters:
    usb_pid: -1

left_m2006_velocity_controller:
  ros__parameters:
    setpoint: /example/m2006_left/control_velocity
    measurement: /example/m2006_left/velocity
    control: /example/m2006_left/control_torque
    kp: 10.0
    ki: 0.0
    kd: 0.0

right_m2006_velocity_controller:
  ros__parameters:
    setpoint: /example/m2006_right/control_velocity
    measurement: /example/m2006_right/velocity
    control: /example/m2006_right/control_torque
    kp: 10.0
    ki: 0.0
    kd: 0.0